<% @title = t("devise.my_account", default: "My Account") %>
<%
  if params[:user] && params[:user][:password]
    email_class = ""
    password_class = "active"
  else
    email_class = "active"
    password_class = ""
  end
%>

<div class="tabbable">

  <ul class="nav nav-tabs">
    <%= tab(t("devise.change_email", default: "Change Email"), "change_email", (email_class == "active")) %>
    <%= tab(t("devise.change_password", default: "Change Password"), "change_password", (password_class == "active")) %>
  </ul>

  <%= semantic_form_for(resource, as: resource_name,
    url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="tab-content">
      <%= f.inputs id: "change_email", class: ["tab-pane", email_class] do %>
        <%= f.input :email, required: true %>
      <% end %>
      <%= f.inputs id: "change_password", class: ["tab-pane", password_class] do %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>
      <% end %>
      <%= f.inputs do %>
        <%= f.input :current_password, required: true, hint: t("devise.current_password_hint", default: "We need your current password to confirm your changes.") %>
      <% end %>
    </div>
    <%= f.actions do %>
      <%= f.action :submit, label: t(:update, default: "Update") %>
    <% end %>
  <% end %>

</div>
