<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title><%= layout_title %></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <%= stylesheet_link_tag "active_application/account", media: "all" %>
    <%= javascript_include_tag "active_application/account" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <header id="header">
        <% if current_page?(root_path) %>
          <h1 id="logo"><%= application_name %></h1>
        <% else %>
          <a href="/" id="logo"><%= application_name %></a>
        <% end %>
      </header>
      <section id="content">
        <%= layout_flash %>
        <%= layout_page_header %>
        <%= yield %>
      </section>
      <footer id="footer" class="footer">
        &copy; <%= Time.now.year %> <%= application_name %>
      </footer>
    </div>
  </body>
</html>
